{% extends "base.html" %}

{% block content %}
    <h1>Cursos del profesor</h1>
    <a href="{{url_for('cursos_create')}}">Crear un curso</a>
    <ul>
        {% for curso in cursos %}
        <div class="row">
            <div class="col">
                <li>{{curso.name}}</li>
            </div>
            <div class="col">
                <a href="{{ url_for('cursos_destroy', id=curso.id) }}"> Eliminar</a>
            </div>
            
        </div>
        
        
        {% endfor %}
    </ul>
{% endblock %}